/* =THE BIG GUYS */
html {margin:0;padding:0}
body {text-align:left;background: #5A7EB9 url("full_page_bg.gif") repeat-x 0 0;margin:0;padding:10px;color:#fff;font:76%/1.5 arial,tahoma,verdana,sans-serif}



/* =LINKS */
a,a:link,a:visited,a:hover,a:active {background:transparent;text-decoration:underline;cursor:pointer;padding:2px 0} 
a:link, a:visited, a:hover, a:active {color:#E17000}
a:hover {color:#fff;background:#E17000} 


ul {position:relative;margin: 0 .3em 1em 0;padding: 0;list-style-type:none}
ol {margin: .5em .5em}
ol li {margin-left: 2em;padding-left: 0;background: none; list-style-type: decimal}
li {line-height: 1.3em;padding-left: 20px;background: transparent url("images/sprites.gif") no-repeat 0 -100px}
ul.nomarker li {background:none;padding-left:0}

#wrap {text-align:left;border: 8px solid #eee;background:#fff;width:460px;margin: 20px auto;padding: 10px;color:#000}

td {text-align:left}

.logo {text-align:center}
.logo img {margin:0 auto}
table {border-collapse:collapse;border:none;border: 1px solid #fff}
table td {font-size: 135%;background:#fff;font-weight:bold;text-align:center;text-transform:uppercase;border-bottom: 1px solid #eee}
table td table td {background:#fff;font-weight:bold;text-align:left;text-transform:none;font-size:76%}

