<div id="sorttree-container" class="" style="position: fixed; z-index:1050; width:400px; height: 500px; left: 50%; top: 50%; overflow:visible;">
	<div id="sorttree" style="position: absolute; top: -250px; left: -200px; width: 100%; height: 100%; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 0 16px rgba(0,0,0,0.32); background: #fff;">

		<div class="modal-header">
			<button type="button" class="close" aria-hidden="true">&times;</button>
			<h4 style="margin:0; padding-top: 2px; margin-right: 20px; line-height: 24px"><i class="fa fa-reorder" style="display:inline-block; font-size: 16px; width: 16px; height: 16px;"></i> {{title}}</h4>
		</div>

		<div class="modal-body" style="overflow: auto; height: 368px; max-height: 368px;">

			<table id="farcry-sorttree" class="objectadmin table table-hover table-hover-all farcry-objectadmin table-unselectable">
			<thead>
				<tr>
					<th>{{targetText}}</th>
				</tr>
			</thead>
			<tbody style="max-height: 200px; overflow: auto;">
				<tr>
					<td><i class="fa fa-spinner fa-spin"></i> &nbsp;Loading...</td>
				</tr>
			</tbody>
			</table>

		</div>

		<div class="modal-footer" style="border: none; border-radius: 0; -moz-border-radius: 0">
			<a class="btn btn-primary btn-submit" style="text-transform:capitalize">{{submitLabel}}</a>
			<a class="btn btn-cancel">Cancel</a>
		</div>


	</div>
</div>
<div class="modal-backdrop fade in"></div>