/* =THE BIG GUYS */
html {margin:0;padding:0}


/* =LINKS */
a,a:link,a:visited,a:hover,a:active {background:transparent;text-decoration:underline;cursor:pointer;padding:2px 0} 
a:link, a:visited, a:hover, a:active {color:#E17000}
a:hover {color:#fff;background:#E17000} 


ul {position:relative;margin: 0 .3em 1em 0;padding: 0;}/*list-style-type:none*/
ol {margin: .5em .5em}
ol li {margin-left: 2em;padding-left: 0;background: none; list-style-type: decimal}
ul li {padding-left: 20px;list-style-type:none;list-style-position:inside;}
ul.nomarker li {background:none;padding-left:0}



.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.installTable {
	width:600px;
}

.installTable th {
	white-space: no-wrap;
	width:150px;
	font-weight:bold;
}

.item {}
	.item img {cursor:help;border:none;}
	.item label{width:42%;float:left;display:block;text-align:right;margin-top:10px;margin-bottom:0px;margin-right:10px;font-size:medium;}
	.item .field {width:55%;float:left;margin-top:10px;margin-bottom:0px;font-size:medium;letter-spacing:.5px;}

.itemGroup label{width:42%;text-align:right;margin:5px 10px 0 0;font-size:medium;}
.itemGroup input {padding:0;font-size:medium;}
.itemGroup {margin:0;}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clear { display: inline-block; }   
.clear:after, .container:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
* html .clear { height: 1%; }
.clear { display: block; }


/* transferred from index.cfm inline */
h1 {font-size:160%;color:#116EAF;margin-bottom: 5px; border-bottom: solid 3px #116EAF; }
h2 {font-size:110%;font-weight:bold;margin-bottom: 25px;}
a {color: #116EAF;}
body {color:#5A7EB9;font:76%/1.5 arial,tahoma,verdana,sans-serif;}
label { color:#333; }

.fieldDisplay {font-weight:bold;}
.fieldHint { font-size: 70%; color: #666; font-style:italic; }
.summary {border-top:1px dotted ##e3e3e3;}

table.plugin { border-top: 1px dotted #116EAF;  width: 90%; margin: 0 30px; }
table.plugin strong { font-weight: bold; }
table.plugin em { font-style: italic; }

div.plugins { border-bottom: 1px dotted #116EAF; }


.section {border:1px dotted #116EAF;padding:10px;margin:10px;}
div.section p { margin: 5px 30px; }

.warning { color: #fff; font-weight:bold; border: #990000 solid 3px; background-color: #cc3333; padding: 15px; }
