/* =THE BIG GUYS */
html {margin:0;padding:0}
body {text-align:left;background: #fff;margin:0;padding:10px;color:#5A7EB9;font:76%/1.5 arial,tahoma,verdana,sans-serif;
	width:800px;
}


/* =LINKS */
a,a:link,a:visited,a:hover,a:active {background:transparent;text-decoration:underline;cursor:pointer;padding:2px 0} 
a:link, a:visited, a:hover, a:active {color:#E17000}
a:hover {color:#fff;background:#E17000} 

h2 {text-align:center;letter-spacing:1px;font-size:x-large;}

ul {position:relative;margin: 0 .3em 1em 0;padding: 0;}/*list-style-type:none*/
ol {margin: .5em .5em}
ol li {margin-left: 2em;padding-left: 0;background: none; list-style-type: decimal}
ul li {padding-left: 20px;list-style-type:none;list-style-position:inside;}
ul.nomarker li {background:none;padding-left:0}



.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.installTable {
	width:600px;
}

.installTable th {
	white-space: no-wrap;
	width:150px;
	font-weight:bold;
}

.item {}
	.item img {cursor:help;border:none;}
	.item label{width:42%;float:left;display:block;text-align:right;margin-top:10px;margin-bottom:10px;margin-right:10px;font-size:medium;}
	.item .field {width:55%;float:left;margin-top:10px;margin-bottom:10px;font-size:medium;letter-spacing:.5px;}

.itemGroup label{width:42%;text-align:right;margin:5px 10px 0 0;font-size:medium;}
.itemGroup input {padding:0;font-size:medium;}
.itemGroup {margin:0;}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clear { display: inline-block; }   
.clear:after, .container:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
* html .clear { height: 1%; }
.clear { display: block; }