/*  
BHPSteel Corporate Website

Pallette:
greys
	e0e8f7
	ebebeb
	cccccc
	999999
	666666
black & white	
colours
	ff9900 (orange)
	3366cc (blue)
	ff6633 (pale red)
*/

/* 
// Basic HTML Selectors //
*/
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #000;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	background-color: #fff;
	
	/* Scrollbar properties are only supported by Internet Explorer 5.5  
	scrollbar-3dlight-color : DarkGray;
	scrollbar-arrow-color : DarkGray;
	scrollbar-base-color : DimGray;
	scrollbar-darkshadow-color : Black;
	scrollbar-face-color : DimGray;
	scrollbar-highlight-color : DarkGray;
	scrollbar-shadow-color : DarkGray;
	scrollbar-track-color : Gray;*/
	}

a {
	font-family : Verdana, Helvetica, sans-serif;
	font-weight : normal;
    font-size : 9pt;
	color : #3366CC;
}

a:hover,a:visited {
	font-family : Verdana, Helvetica, sans-serif;
	font-weight : normal;
    font-size : 9pt;
	color : #3399FF;
}

p, td {
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 10px;
	margin-bottom: 10px; 
	}

ul, ol {
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 20px; 
	}

li ul, li ol {
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 20px; 	
}

pre {
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
	}

img {
	border: 0;
	}
	
SELECT {
    font-size: 10px;
    font-weight: normal;
    border : thin solid black;
	layout-grid : none;
}
	
/* 
// Heading Styles //
note: weird ie5win bug: all line-height to font-size ratios must agree or box gets pushed around. 
*/
h1, .pageHeading {
    font-weight : bold;
    font-size : 13pt;
    font-family : Verdana, Helvetica, sans-serif; /* spec is 13pt */
    color : #FF6633;
    text-decoration : none;
}

a:link.pageHeading, a:visited.pageHeading {
    font-weight : bold;
    font-size : 13pt;
    font-family : Verdana, Helvetica, sans-serif; /* spec is 13pt */
    color : #FF6633;
}

a:hover.pageHeading {
	text-decoration : underline;
	visible: false; /* ektron */
}

.navHeading {
    font-size : 8.5pt;
    font-weight : bolder;
    font-family : Verdana, Helvetica, sans-serif;
    color : #FF6633;
    visible: false; /* ektron */
}

.transDocsHeading {
    font-size : 7.5pt;
    font-weight : bolder;
    font-family : Verdana, Helvetica, sans-serif;
    color : #FF6633;
    visible: false; /* ektron */
}

h2, .subHeading, .teaserHeader, a:visited.teaserHeader {
	font-family : Verdana, Helvetica, sans-serif;
    font-weight : bold;
    font-size : 9pt;
    color : #FF6633;
	text-decoration: none;
	visible: false; /* ektron */
}

/* should be heading selector (H4?)*/
h3, .paraHeading, {
	font-family : Verdana, Helvetica, sans-serif;
    font-size : 9pt;
    font-weight : bold;
    color : #000;
    text-decoration : none;
	visible: false; /* ektron */
}

a.teaserHeader:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #FF6633;
}

/* 
// Classes //
ektron note... 
all classes must have visible: false; or they will appear in the ektron editor window
any classes that should be on <P> muyst specifically specify the selector
eg. p.authornote
*/

/* primary navigation */
a.mPrimary{
	font-size: 9px;
	color: #000;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	visible: false; /* ektron */
}

a:hover.mPrimary{
	font-size: 9px;
	color: #fff;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	visible: false; /* ektron */
}


.mPrimary {
	
	font-size: 9px;
	color: #000;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	visible: false; /* ektron */
}

a.mPrimaryOn {
	background-color: #ff6633;
	font-size: 9px;
	color: #fff;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	cursor : hand;
	visible: false; /* ektron */
}

.mPrimaryOn {
	background-color: #ff6633;
	font-size: 9px;
	color: #fff;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	cursor : hand;
	visible: false; /* ektron */
}

a.mPrimaryOff {
	background-color: #ff9900;
	font-size: 9px;
	color: #000;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	visible: false; /* ektron */
}

.mPrimaryOff {
	background-color: #ff9900;
	font-size: 9px;
	color: #000;
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0px 0px 2px 0px;
	visible: false; /* ektron */
}

/* secondary navigation */
.lhsNavTable {
	border-bottom : 1px solid #666;
	border-left : 1px solid #666;
	border-right : 1px solid #666;
	visible: false; /* ektron */
}

.secMenuTitle { 
	background-color: #ff6633;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
	border-top : 1px solid #666;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

a.secMenuTitleB,  a:visited.secMenuTitleB  {
	background-color: #ff6633;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

a:hover.secMenuTitle {
	background-color: #ff6633;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
}

a:hover.secMenuTitleB {
	background-color: #ff6633;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
}

a.secMenu_ns {
	font-size:11px;
	font-weight : bolder;
	color: #3366cc;
	font-family : Arial, Helvetica, sans-serif;
	text-decoration : none;
	visible: false; /* ektron */
}

a:visited.secMenu_ns {
	font-size:11px;
	font-weight : bolder;
	color: #3366cc;
	font-family : Arial, Helvetica, sans-serif;
	text-decoration : none;
	visible: false; /* ektron */
}

a:hover.secMenu_ns {
	font-size:11px;
	font-weight : bolder;
	color: #fff;
	font-family : Arial, Helvetica, sans-serif;
	text-decoration : none;
	visible: false; /* ektron */
}

.secMenu { 
	background-color: #e0e8f7;
	font-size:11px;
	font-weight : bolder;
	color: #3366cc;
	border-top : 1px solid #666;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */

}

.secMenuOver { 
	background-color:  #99b3e6;
	font-size:11px;
	font-weight : bolder;
	color: #fff;
	border-top : 1px solid #666;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
	cursor : hand;
	visible: false; /* ektron */
}

.secMenuHiLite { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	cursor : hand;
	font-family : Arial, Helvetica, sans-serif;
    text-decoration : none;
	border-top : 1px solid #666;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

 a.secMenuHiLiteB, a:visited.secMenuHiLiteB { 

	font-size: 11px;
	font-weight: bold;
	color: #3366cc;
	cursor : hand;
	font-family : Arial, Helvetica, sans-serif;
    text-decoration : none;

	visible: false; /* ektron */
}

a:Hover.secMenuHiLiteB {
	color:#ff6633;
	font-size: 11px;
	font-weight: bold;
	font-family : Arial, Helvetica, sans-serif;
}

a:hover.secMenuHiLite {
	color: #ff6633;
	font-size: 11px;
	font-weight: bold;
	cursor : hand;
	font-family : Arial, Helvetica, sans-serif;
    text-decoration : none;
	border-top : 1px solid #666;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

.secSubTitle, a:visited.secSubTitle { 
	background-color: #99b3e6;
	font-size: 11px;
	font-weight: bold;
	color: #3366cc;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

a:hover.secSubTitle {
	color : #fff;
}

a.secSub_ns, a:visited.secSub_ns { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 3px 3px 0px;
	text-decoration: none;
	cursor : hand;
	visible: false; /* ektron */
	}
	
a:hover.secSub_ns { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #ff6633;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 3px 3px 0px;
	text-decoration: none;
	cursor : hand;
	visible: false; /* ektron */
	}

.secSub { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #3366cc;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 3px 3px 0px;
	cursor : hand;
	visible: false; /* ektron */
	}

.secSubOver { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #ff6633;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 3px 3px 0px;
	cursor : hand;
	visible: false; /* ektron */
	}

.secSubOverB { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #ff6633;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 3px 3px 0px;
	cursor : hand;
	visible: false; /* ektron */
	}
	
	.secSubOverC { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #ff6633;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 3px 3px 0px;
	cursor : hand;
	visible: false; /* ektron */
	}
	
	


	
.secSubB { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #3366cc;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 0px;
	cursor : hand;
	visible: false; /* ektron */
}

.secSubC { 
	background-color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 0px;
	cursor : hand;
	visible: false; /* ektron */
}


.secSubHiLite { 
	background-color: #99b3e6;
	font-size: 11px;
	font-weight: bold;
	text-indent: 10px;
	color: #fff;
	cursor : hand;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

.secSubHiLiteB { 
	background-color: #99b3e6;
	font-size: 11px;
	font-weight: bold;
	text-indent: 10px;
	color: #fff;
	cursor : hand;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 0px;
	visible: false; /* ektron */
}

/* --------------- */


.register, a:visited.register {
	font-size: 11px;
	color:#ff6633;
	font-weight: bolder;
	text-decoration : none;
	visible: false; /* ektron */
}

a:hover.register {
	font-size: 11px;
	color:#ff6633;
	font-weight: bolder;
	text-decoration : underline;
	visible: false; /* ektron */
}

.registerTx {
	font-size: 10px;
	padding : 0px 0px 0px 0px;
	visible: false; /* ektron */
	height : 10px;
}


/* utility navigation */
.mUtility {
	font-size: 10px;
	background-color: #999;
	font-weight: bold;
	color: #fff;
	border-top: 1px solid #fff;
	height : 19px;
	visible: false; /* ektron */
}

a.utility, a:visited.utility {
	font-size: 10px;
	background-color: #999;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	visible: false; /* ektron */
}

a:hover.utility {
	color: #ffc875;
	text-decoration: none;
	font-size: 10px;
	background-color: #999;
	font-weight: bold;
	visible: false; /* ektron */
}

.mUtility  {
	font-size: 10px;
	background-color: #999;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	visible: false; /* ektron */
}

/* stockticker navigation */
.stockTicker {
	font-size: 10px;
	background-color: #999;
	font-weight: bold;
	color: #FFF;
	border-top: 1px solid #fff;
	visible: false; /* ektron */
}

/* drop down menu */

.dmMenu {
	border : 1px solid #DCDCDC;
	line-height: 13px;
	padding-left : 2px;
    background-color :  #999;
}

a.dmMenu,a:visited.dmMenu {
    font-size : 7.5pt;
    font-weight : bold;
    color : #FFF;
    border : none;
    text-decoration : none;
}

a:hover.dmMenu {
	font-size : 7.5pt;
    font-weight : bold;
	color : #ffc875;
}

/* 
begin: Sectional Classes
 - these classes should get overridden in a section CSS file! 
 */
/* should be heading selector (H2?)*/
.sectionHeader {
	background-image: url(/staticImages/headers/header_default.jpg);
	background-repeat: no-repeat;
	background-color: #fff;
	padding: 0 0 0 0;
	visible: false; /* ektron */
}

/* needs to be as high as image  */
.sectionStrip {
	background-image: url(/staticimages/strips/strip_default.gif);
	border-bottom: solid 3px #ff6633;
	background-repeat: repeat-x;
	background-color: #fff;
	padding: 0 0 0 0;
	height: 26px;
	visible: false; /* ektron */
}

/* end: Sectional Classes */

/* won't work in enough browsers
.pageHeading:after {
	content: url(/staticimages/strips/strip_ourrespo.jpg);
}
*/

/* should be heading selector (H3?)*/
a.contentLink {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 7.5pt;
    font-weight : normal;
	color : #666;
	text-decoration: underline;
}

a:hover.contentLink,a:visited.contentLink {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 7.5pt;
    font-weight : normal;
	color : #999;
	text-decoration: underline;
}

/* News Elements */
.newsTable {
    background-color : #EBEBEB;
	visible: false;
}

a:link.newsTeaserTitle,a:visited.newsTeaserTitle,a:active.newsTeaserTitle {
    font-size : 8pt;
    font-weight : bold;
    font-family : Verdana, Helvetica, sans-serif;
	text-decoration: none;
    color : #666;
	visible: false;
}

a:hover.newsTeaserTitle {
    font-size : 8pt;
    font-weight : bold;
    font-family : Verdana, Helvetica, sans-serif;
	text-decoration: none;
    color : #FF6633;
	visible: false;
}

.newsTeaserDate {
    font-size : 6.5pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
    color : #666;
	visible: false;
}

.newsTeaserText {
    font-size : 8pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
    color : #666;
	visible: false;
}

.newsArchive {
    color: #666;
    font-size: 8pt;
    font-weight: normal;
    font-family: Verdana, Helvetica, sans-serif;
	visible: false;
}

a:link.newsArchive,a:visited.newsArchive,a:active.newsArchive {
    color : #FF6633;
    font-size : 8pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
	visible: false;
}

a:hover.newsArchive {
    color : #666;
    font-size : 8pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
	visible: false;
}

a:link.newsTeaserLink,a:visited.newsTeaserLink,a:active.newsTeaserLink {
    font-size : 7pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
    color : #666;
    text-decoration : underline;
	visible: false;
}

a:hover.newsTeaserLink {
    font-size : 7pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
    color : #FF6633;
    text-decoration : underline;
	visible: false;
}

UL.newsList {
	/* news bullet list */
	list-style-type : square;
	visible: false; /* ektron */
}

/* breadcrumb */
.breadcrumb, a:link.breadcrumb, a:visited.breadcrumb, a:active.breadcrumb {
	color: #999;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	margin-bottom: 10px; 
	visible: false; /* ektron */
}

a:hover.breadcrumb {
	color: #000000;
}

/* Search elements */
.search {
    font-size: 10px;
    font-weight: bold;
    font-weight: normal;
    color: Black;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    border : thin solid #DCDCDC;
    height : 20.0px;
	visible: false; /* ektron */
}

selSites {
	   font-size: 10px;
    font-weight: bold;
    font-weight: normal;
    color: Black;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    border : thin solid #DCDCDC;
    height : 20.0px;
	visible: false; /* ektron */
}

.advsearch  {
	color : #000000;
	font-family : Verdana, Helvetica, sans-serif;
	font-weight : bold;
    font-size : 9px;
}

a.advsearch  {
	color : #000000;
	font-family : Verdana, Helvetica, sans-serif;
	font-weight : bold;
    font-size : 9px;
}

 a:visited.advsearch {
	color : #000000;
	font-family : Verdana, Helvetica, sans-serif;
	font-weight : bold;
    font-size : 9px;
}
 
a:hover.advsearch {
	color : #666666;
	font-family : Verdana, Helvetica, sans-serif;
	font-weight : bold;
    font-size : 9px;
}

.searchLayout {
	padding: 0 50px 0 50px;
	visible: false; /* ektron */
}

/* Footer elements */
.footerText {
	font-family : Verdana, Helvetica, sans-serif;
    font-weight : normal;
    font-size : 6.5pt;
    color : #666;
    text-decoration : none;
	visible: false;
}

a:link.footerNav, a:visited.footerNav, a:active.footerNav {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 6.5pt;
    font-weight : normal;
	color : #666;
   	text-decoration : none;
}

a:hover.footerNav {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 6.5pt;
    font-weight : normal;
	color : #ff9900;
   	text-decoration : none;
	visible: false;
}

/* is this used? */
.nowrap {
	white-space: nowrap;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	visible: false; /* ektron */
/* must be combined with nobr in html for ie5win */
	}

/* is this used? */
.tiny {
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px; 
	visible: true; /* ektron */
	caption: Small Text;
	}

/* Classes for BODY property content */
p.authornote {
	caption: Note;  /* ektron */
	color: #000333;
	BORDER-RIGHT: 1px dotted; 
	PADDING-RIGHT: 20px; 
	BORDER-TOP: 1px dotted; 
	PADDING-LEFT: 20px; 
	PADDING-BOTTOM: 20px; 
	BORDER-LEFT: 1px dotted; 
	PADDING-TOP: 20px; 
	BORDER-BOTTOM: 1px dotted; 
	BACKGROUND-COLOR: #e0e8f7;
	margin-left: 10px;
	margin-right: 10px;
}

p.authorcaution {
	caption: Caution;  /* ektron */
	color: #000333;
	BORDER-RIGHT: 1px dotted; 
	PADDING-RIGHT: 20px; 
	BORDER-TOP: 1px dotted; 
	PADDING-LEFT: 20px; 
	PADDING-BOTTOM: 20px; 
	BORDER-LEFT: 1px dotted; 
	PADDING-TOP: 20px; 
	BORDER-BOTTOM: 1px dotted; 
	BACKGROUND-COLOR: #ff6633;
	margin-left: 10px;
	margin-right: 10px;
}

p.authortip {
	caption: Tip;  /* ektron */
	color: #000333;
	BORDER-RIGHT: 1px dotted; 
	PADDING-RIGHT: 20px; 
	BORDER-TOP: 1px dotted; 
	PADDING-LEFT: 20px; 
	PADDING-BOTTOM: 20px; 
	BORDER-LEFT: 1px dotted; 
	PADDING-TOP: 20px; 
	BORDER-BOTTOM: 1px dotted; 
	BACKGROUND-COLOR: #ccc;
	margin-left: 10px;
	margin-right: 10px;
}

p.authorxref {
	caption: Cross Reference;  /* ektron */
	color: #000333;
	BORDER-RIGHT: 1px dotted; 
	PADDING-RIGHT: 20px; 
	BORDER-TOP: 1px dotted; 
	PADDING-LEFT: 20px; 
	PADDING-BOTTOM: 20px; 
	BORDER-LEFT: 1px dotted; 
	PADDING-TOP: 20px; 
	BORDER-BOTTOM: 1px dotted; 
	BACKGROUND-COLOR: #ff9900;
	margin-left: 10px;
	margin-right: 10px;
}


/* Sitemap elements */
.sitemapLayout {
	padding: 0 50px 0 50px;
	visible: false;
}

a.sitemapLink,a:visited.sitemapLink  {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 7.5pt;
    font-weight : normal;
	color : #3366CC;
	text-decoration: underline;
}

a:hover.sitemapLink{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 7.5pt;
    font-weight : normal;
	color : #3399FF;
	text-decoration: underline;
}

/* used to present text to browsers that cannot render CSS ie. it doesn't display in modern browsers */	
.ahem {
	caption: Invis to old browsers;  /* ektron */
	display: none;
	}

/* fact object classes */
.factTitle { 
	font-weight: bolder;
    font-size: 8.5pt;
	color: #FF6633; 
	font-family: Verdana, Helvetica, sans-serif;
    padding: 5px 7px 5px 7px; 
    height: 18px;
	visible: false;
}

.factBody { 
	font-weight: normal;
    font-size: 7pt;
    padding: 5px 7px 5px 7px; 
	margin: 0 0 0 0;
	border-top: solid 1px #FFF; 
	visible: false;
}

.tableHeader {
	background-color: #FF9900;
	color: #FFF;
	font-weight: bolder;
	font-family: Verdana, Helvetica, sans-serif;
}


/* 
// ID Selectors //
 - for positional elements
*/

/* defines properties for page layout table */
#pageLayout {
	padding: 0px 12px 5px 12px;
}

#maincontent {
	padding: 0px 0px 0px 0px;
}

#referalnav {
	visibility : hidden;
	white-space : nowrap;
	padding : 2px 2px 4px 0px;
}

/* fact object div */
#factLayout {
    background-color: #EBEBEB;
	border-bottom: solid 3px #FF6633; 
	padding: 0 0 0 0; 
	margin: 0 0 0 0; 
	width: 157px;
}

/* floater menu */
.floaterLink {
	color: #000000;
}

/* WebEnquiries */
.enqText {
	font-size : 8pt;
    font-weight : normal;
    font-family : Verdana, Helvetica, sans-serif;
    color : #000;
	visible: false; /* ektron */
}


/* Take Me To */

.refsitetable {
	visible: false; /* ektron */
}

.refsiteheader {
	background-color: #999;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	font-family : Arial, Helvetica, sans-serif;
    text-decoration : none;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

.refsitebody {
	border-bottom : 1px solid #666;
	border-left : 1px solid #666;
	border-right : 1px solid #666;
	padding: 3px 3px 3px 10px;
	visible: false; /* ektron */
}

.refsite {
	font-size: 11px;
	color:#ff6633;
	font-weight: bolder;
	padding : 0px 0px 2px 0px;
	visible: false; /* ektron */
}

.refsiteB{
	font-size: 11px;
	font-family : Arial, Helvetica, sans-serif;
	color:#333;
	font-weight: bolder;
	height: 8px;
	visible: false; /* ektron */
}

a.refsiteB, a:visited.refsiteB {
	font-size: 11px;
	color:#333;
	text-decoration : none;
	visible: false; /* ektron */
}

a.refsiteB:hover {
	font-size: 11px;
	color:#333;
	text-decoration : underline;
	visible: false; /* ektron */
}

a.refsite, a:visited.refsite {
	font-size: 11px;
	color:#3366cc;
	font-weight: bolder;
	text-decoration : none;
	visible: false; /* ektron */
}

a.refsite:hover {
	font-size: 11px;
	color:#ff6633;
	font-weight: bolder;
	text-decoration : underline;
	visible: false; /* ektron */
}

/* Customer Requested styles */

.tableOrange {
	background-color: #ff6633;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	font-family : Arial, Helvetica, sans-serif;
	padding: 3px 5px 5px 3px;
}