html {
  min-height:100%;
}
body {
	background:#ffffff url(images/bg-login.png) 0 150px repeat-x;
	min-height:100%;
	padding-top:0;
}
#content-main {
	background:url(images/bg-login-center-blue.png) 50% 0 no-repeat;
	margin-bottom:50px;
	padding-top:50px;
}
#content-main h3 {
  font-size:18px;
  font-weight:normal;
  line-height:20px;
  margin: 0;
}
.content-block {
  background:#ffffff;
  border:1px solid #cccccc;
  margin-bottom:20px;
}
.content-header {
  background:#f1f1f1;
  border-bottom:1px solid #cccccc;
  color:#333333;
  padding: 10px 15px;
  position:relative;
  text-shadow:0 1px 0 #ffffff;
}
.content-main {
  border:1px solid #ffffff;
  padding:15px 15px 5px;
}
.content-main > *:first-child {
  margin-top:0;
}

#content-main form {
  padding:20px 0;
}

#content-main form fieldset {
  margin:0;
  padding: 0;
}


#content-main form input[type="text"],
#content-main form input[type="password"] {
  font-size:19px;
  height:26px;
  line-height:26px;
  margin-bottom:20px;
  width:97%;
  border-radius: 0;
}

#content-main .uniForm .inlineLabels input[type="text"],
#content-main .uniForm .inlineLabels input[type="password"],
#content-main .uniForm .inlineLabels .textInput,
#content-main .uniForm .inlineLabels .selectInput {
  width: 97%;
  height:auto;
  font-size: 14px;
  line-height: 16px;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 0;
}
#content-main .uniForm .inlineLabels .selectInput {
  padding: 4px;
  box-sizing: border;
}

#content-main .uniForm .label {
  text-shadow: none;
}

#content-main form .help-inline {
  font-size:12px;
  margin-top:12px;
  padding-right:5px;
}
#content-main form .btn-group {
  float:right;
}

#content-main .btn {
  background: #e8e8e8;
  border-radius: 0;
  border: 0;
  color: #555;
  box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
  font-family: Arial, Helvetica, sans-serif;
}
#content-main .btn:hover,
#content-main .btn:focus {
  background: #f8f8f8;
  box-shadow: 0 0 1px rgba(0,0,0,0.4) inset;
  /*text-shadow: 0 1px 1px #000;*/
  /*color: #fff;*/
}
#content-main .btn:active {
  background: #cccccc;
}
#content-main .btn-primary {
  background: #3e84b5;
  text-shadow: none;
  color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.4) inset;
}
#content-main .btn-primary:hover,
#content-main .btn-primary:focus {
  background: #0e65a2;
  box-shadow: 0 0 1px rgba(0,0,0,0.6) inset;
  text-shadow: none;
  color: #fff;
}
#content-main .btn-primary:active {
  background: #0c5582;
  text-shadow: none;
  color: #fff;
}

#content-main .btn-group .btn {
  border-radius: 0;
}


.dropdown .dropdown-menu {
  border-radius: 0;
  margin-top: -1px;
  padding-top: 5px;
}
.dropdown .dropdown-menu li > a {
  color: #333;
  padding: 3px 14px;
  filter: none;
}
.dropdown .dropdown-menu li > a:hover,
.dropdown .dropdown-menu li > a:focus {
  background: #dae8f2;
  text-decoration: none;
}
.dropdown .dropdown-menu .active > a,
.dropdown .dropdown-menu .active > a:hover,
.dropdown .dropdown-menu .active > a:focus {
  background: #0e65a2;
  color: #fff;
  padding: 3px 14px;
}


#content-main .content-block {
  border-color:#cccccc;
  margin:0 auto;
  width:520px;
  -webkit-box-shadow:0 4px 16px rgba(0,0,0,0.25);
  -moz-box-shadow:0 4px 16px rgba(0,0,0,0.25);
  box-shadow:0 4px 16px rgba(0,0,0,0.25);
}
#content-main .copyright {
  font-size:11px;
  line-height: 15px;
  padding:0 5px;
  text-align:right;
  color: #cccccc;
}
#content-main .copyright a {
  color: #999999;
}
#content-main .copyright strong {
  font-weight: normal;
}

#header {
  padding-top:60px;
  text-align:center;
}
#header h1 {
  border-left:1px solid #ebebeb;
  display:inline-block;
  *display:inline;
  margin:0;
  padding:0 40px;
  *zoom:1;
}
#header h1:first-child {
  border-left:none;
}
#header .logo {
  color:#303030;
  display:inline-block;
  *display:inline;
  font-size:24px;
  font-weight:300;
  height:60px;
  line-height:60px;
  margin:15px 0;
  *zoom:1;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s;
}
#header .logo:hover,
#header .logo:active {
  color:#000000;
  text-decoration:none;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s;
}
#header h1 .farcry-logo {
  width:145px;
  background:url(images/farcry-logo.png) center no-repeat;
  text-indent:-99999px;
}
#header h1 .webtop-logo {
  width: 180px
}

li a.active { background-color:#3E84B5; color:#FFF; }
@media (max-height:670px){
  body {
    background-position:0 90px;
  }
  #header {
    padding-top:0;
  }
}
@media (max-width:979px){
  body {
    background-position:0 90px;
  }
  #header {
    padding-top:0;
  }
}
@media (max-width:767px){
  body {
    background-position:0 90px;
  }
  #header .container-fluid {
    padding: 0;
  }
  #content-main {
  }
  #content-main .content-block {
    margin:0 10px;
  }
  #content-main form {
    padding:10px 0;
  }
  #content-main form fieldset {
    margin:0 8px;
  }
  #content-main form input[type="text"],
  #content-main form input[type="password"] {
    margin-left:-8px;
    width:100%;
  }
  #content-main form label {
    margin-left:-8px;
  }
  #content-main .content-block {
    width:auto;
  }
  #header h1 {
    border:none;
    display:block;
    padding:0;
    margin: 10px;
    font-size: 25px;
    line-height: 25px;
  }
  #header h1 .logo {
    margin:0;
  }
  #header h1 .farcry-logo {
    display: none;
  }  


}