/* 
-------------------------------------------------------------------
version:	18-01-06
author:		pete ottery | daemon | pottery at daemon dot com dot au 
			please speak to pete before making changes to this file 
-------------------------------------------------------------------
NOTE: a class of "fc" indicates that it is a farcry core class and helps alleviate the issue of external stylesheets
overriding a required farcry core style.

*/



/* =THE BIG GUYS */
html {margin:0;padding:0;height:100%;background: none;}
body {height:100%;background: #fff url("images/body_bg.gif") repeat-y -404px 0;margin:0;padding:0;color:#000;font:83%/1.5 arial,tahoma,verdana,sans-serif;}
body.type-popup {background:#fff none;}
body.iframed-content {
	font-size: 12px;
}
/* =LINKS */
a,a:link,a:visited,a:hover,a:active {background-color:transparent;text-decoration:underline;cursor:pointer;padding:2px 0} 
a:link, a:visited, a:hover, a:active {color:#E17000}
a:hover {color:#fff;background-color:#E17000} 

ul.webtop {position:relative;margin: 0 .3em 1em 0;padding: 0;list-style-type:disc:}
ol.webtop {margin: .5em .5em}
ol.webtop li {margin-left: 2em;padding-left: 0;background: none; list-style-type: decimal}
ul.webtop li {padding-left: 20px; background: transparent url("images/sprites.gif") no-repeat 0 -100px}
ul.nomarker li {background:none;padding-left:0}

select {background-color:#fff;}

hr {margin: .3em 0 1em;background:#F1F1F1;height:1px;color:#F1F1F1;border:none}
small, .small {font-size:11px}
.clear {clear:both;position:relative;font-size:0;height:0;line-height:0} 
br.clearer {clear: both;height:1px;line-height:1px;}
.hidden {visibility:hidden} 
.error {color:#c00}
.success {color:#360}
.highlight {color:#26568D}
.subdued {color:#999}
.disabled {color:#708090}
.switch {float:right}




/* =HEADINGS */
h1, h2, h3, h4, h5, h6 {font-family: arial,verdana,sans-serif;margin: 1.2em 0 0; font-weight: bold;}
h1 {font-size: 156%;margin: 0}
h2 {font-size: 116%}
h3 {font-size: 112%}
h4 {font-size: 102%}
h5 {font-size: 92%}
h6 {font-size: 83%}



#view-site {position:absolute;top:5px;right:20px;font-weight:bold}
#view-site a:link {color:#fff} 
#view-site a:visited {color:#fff} 
#view-site a:hover,a:active {color:#26568D;background-color:#fff} 


/* =LAYOUT-HEADER */
#header {background:#fff;width:100%}

	#powered-by {float:left;width:96px;margin-right: 13px}
	#powered-by a:hover { background-image:none; background-color:transparent; }
	#powered-by img {border-right: 1px solid #D2D2D2}

	#site-name {float:left;width:65%;font-size:76%;padding: 13px 0 10px 10px}
	
		#site-name h1, #site-name h2 {margin: 0 10px;line-height:1.2}
		#site-name h1 {padding: 15px 0 5px;font-size:195%;display:inline}
		#site-name h2 {display:inline;color:#999;font-style:italic}
	
	#admin-tools {font-size:86%;width:350px;margin: 5px 0 0;float:right}
	#admin-tools p {margin: 0;padding: 0}
	
	#nav {margin: 0 0 0 20px;height: 2.15em;font-size:96%;clear:left}
 	#nav ul {margin:0;padding:2px 0 0;list-style:none}
    #nav li {float:left;background:url("images/nav_left_both.gif") no-repeat 0 -150px;margin:0;padding:0 0 0 9px;border-bottom:1px solid #fff}
	#nav a {float:left;display:block;width:.1em;background:url("images/nav_right_both.gif") no-repeat 100% -150px;padding:6px 15px 2px 6px;text-decoration:none;color:#fff;font-weight:bold;white-space:nowrap}
    #nav > ul a {width:auto;}
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #nav a {float:none;}
    /* End IE5-Mac hack */
    #nav a:hover {color:#000}
    #nav li.active {background-position:0 0;border-width:0}
    #nav li.active a {background-position:100% 0;padding-bottom:3px;color:#fff}

/* =LAYOUT-LOGIN PAGE */

body#sec-login {background: #5A7EB9 url("images/full_page_bg.gif") repeat-x 0 0;height:auto}
	#login {border: 8px solid #eee;background:#fff;width:700px;margin: 50px auto;padding: 20px;color:#999}
	#login .loginLogo {float:left;width:265px;margin-right:10px;overflow:hidden;}
	#login .loginInfo {float:left;width:415px;margin-right:0px;font-weight:bold;margin-bottom: 10px;}
	#login .loginLogo h1 {font-size:105%;color:#116EAF;}
	#login .loginLogo a {text-decoration:none;background:none;}
	#login .loginLogo img {margin: 0 0 15px}
	#login .loginLogo img, #login .loginLogo span {display:block;font: normal 80% arial;color:#999}


	#login .loginFooter {clear:both;color:#ccc;border-top: 1px solid #eee;text-align:right;}
	#login .loginFooter h3 { font: normal 80% arial;margin:0px;}
	#login .loginFooter p { margin:10px 0px 0px 0px;}
	#login .loginFooter a,#login .loginFooter a:hover {color: #ccc; background-color:#fff;text-decoration: underline;}
	#login fieldset h5 {margin: 50px 0 0;padding:2px 5px}
	#login .loginInfo form {width:425px;min-width:425px;}
	#login .loginInfo form.formtool fieldset {border-style:none;}
	#login .loginForgot {margin-top:10px;float:right;text-align:left;}
	#login .error {clear:both;}

/* =LAYOUT-CONTENT-AREA */
#content-wrap {}
	
	#sidebar {}
		#sidebar #iframe-sidebar {height:100%;width:200px}
		body.iframed select {font-size:86%}
	#content {}
		#content #iframe-content {height:100%;width:100%}

/* =IFRAMES */
body.iframed, body.iframed-home {padding-left:14px;background: #5B7FB9 url("images/g2_sidebar_wider_bg.gif") no-repeat fixed 0 0;padding-top:14px;width:83%;height:90%}
	body.iframed li, body.iframed-home li {font-size:86%;background: transparent url("images/sprites.gif") no-repeat 0 -200px}
	body.iframed ul, body.iframed-home ul {margin-bottom:6px}
	body.iframed h3, body.iframed-home h3 {text-transform:uppercase;color:#fff;font-size:86%;border-top: 1px solid #7B96C0;padding: 6px 0 0 3px;margin-top:0}
	body.iframed, body.iframed-home {color:#fff}
	body.iframed a:link, body.iframed a:visited, body.iframed a:hover, body.iframed a:active {color:#fff;background-color:transparent;text-decoration:none;padding:0}
	body.iframed a:hover, body.iframed a:active {background-color:#97ACCD}
body.iframed-tree {height:80%}

#iframe-sideTree {width:100%;height:100%;}


body.iframed-content {background: #fff url("images/content_bg_2.gif") no-repeat fixed 0 -20px;width:96%;height:90%; padding-left:1px;}
body.iframed-content h3 {margin-top:0;font-size:135%}
.iframe-nav-form {margin: 0 0 10px}
.iframe-nav-form-zoom {border-bottom: 1px solid #f1f1f1;padding: 3px 0 10px;margin:0 0 1em;}
.iframe-nav-form-zoom select {margin-bottom:-2px}


/* =TREE RESIZING */

	/* =SITE SECTION */
	#tree-button-max {display:block;position:absolute;top:299px;left:203px;width:29px;height:38px;background: transparent url("images/sprites.gif") no-repeat 0 -300px}
	#tree-button-max span {display:none}
	#tree-button-min {display:block;display:none;position:absolute;top:299px;left:402px;width:29px;height:38px;background: transparent url("images/sprites.gif") no-repeat 0 -350px}
	#tree-button-min span {display:none}
	#tree-button-max:hover {background-position: -50px -300px}
	#tree-button-min:hover {background-position: -50px -350px}

	/* =OTHER SECTIONs */
	#content-button-max {display:block;position:absolute;top:299px;left:203px;width:29px;height:38px;background: transparent url("images/sprites.gif") no-repeat 0 -350px}
	#content-button-max span {display:none}
	#content-button-min {display:block;display:none;position:absolute;top:299px;left:3px;width:29px;height:38px;background: transparent url("images/sprites.gif") no-repeat 0 -300px}
	#content-button-min span {display:none}
	#content-button-max:hover {background-position: -50px -350px}
	#content-button-min:hover {background-position: -50px -300px}

/* =POPUP */
body.popup {background: #fff;padding: 0 10px}
body.popup h1 {margin: 10px 0 .4em}
body.popup h2 {margin: 0 0 .4em}

body.popup #content {margin:0;background:transparent;padding:0}


.container-management #plp-wrap {background:none;padding:0}
.container-management #plp-wrap .pagination, .container-management #plp-wrap #plp-nav {float:none;width:auto}
.container-management #plp-content {margin:0}
.container-management #plp-content iframe, .container-management #plp-content textarea#body {float:none;width:auto}
.container-management #plp-wrap h1 {background:none;border:none}

.relateditems-wrap {float:left;width:230px;padding-bottom: 10px}
.relateditems-wrap h2 small {float:right;margin-top:3px;margin-right:8px}
.relateditems-wrap select {width: 150px;float:left;margin: 3px 0}
.relateditems-wrap input.f-submit {font-size:86%}
.relateditems-wrap input.f-delete {font-size:86%;float:right;padding: 1px 8px;_padding: 1px 3px}

.r-i-images {padding-right:40px}
.r-i-files {}

.relateditems-wrap a strong {position:absolute;left:-9999px}
.relateditems-wrap a.moveup:link, .relateditems-wrap a.moveup:visited, .relateditems-wrap a.moveup:hover, .relateditems-wrap a.moveup:active {float:right;background:#fff url("images/sprites_icons.gif") no-repeat -100px -650px;display:block;height: 25px;width:30px}
.relateditems-wrap a.moveup:hover, .relateditems-wrap a.moveup:active {background-position: -100px -600px}
.relateditems-wrap a.movedown:link, .relateditems-wrap a.movedown:visited, .relateditems-wrap a.movedown:hover, .relateditems-wrap a.movedown:active {float:right;background:#fff url("images/sprites_icons.gif") no-repeat 0px -650px;display:block;height: 25px;width:30px}
.relateditems-wrap a.movedown:hover, .relateditems-wrap a.movedown:active {background-position: 0px -600px}

.teaser-wrap {clear:left;border-top: 1px solid #DEDEDE;padding-bottom: 10px;font-size:86%}
.teaser-wrap .teaser-image {padding: 15px 0}
.teaser-wrap .teaser-image h3 {}
.teaser-wrap .teaser-image select {display:block;margin: 2px 0 8px;width: 150px;float:left}
.teaser-wrap .teaser-image img {border: 1px solid #ccc;margin: -16px 0 5px 20px}
.teaser-wrap .teaser-text {border-top: 1px solid #DEDEDE;padding: 15px 0}
.teaser-wrap .teaser-text p {margin:0;font: bold 86% arial;padding-bottom: 20px}
.teaser-wrap .teaser-text textarea {width: 100%}

.f-source {clear:left;border-top: 1px solid #DEDEDE;padding: 10px 0 0}
.f-source label:hover {background:none}
.f-source input {margin-left: 7px}

/* =GENERIC ADMIN */
.gen-admin-filterby, 
.gen-admin-filterby input,
.gen-admin-action, 
.gen-admin-action input {font-size: 90%;padding:1px 2px}

.gen-admin-action {float:right}
.gen-admin-action img {margin: 0 10px -7px 0}
.utilBar label {display:inline}
.gen-admin-filterby input.f-submit {margin-right:15px}

ul.object-overview-actions {margin-right: 130px}

/* =ALL BLUE LEFT HAND COL */
body.iframed-home a:link {color:#fff} 
body.iframed-home a:visited {color:#fff} 
body.iframed-home a:hover, body.iframed-home a:active {color:#26568D;background-color:#fff} 


.refreshtree {display:inline;height:18px;width:16px;margin-left:5px}
.refreshtree img {height:16px;width:16px;margin-bottom: -2px;background:none}
body.iframed .upone a:link, body.iframed .upone a:visited, body.iframed .upone a:hover, body.iframed .upone a:active, 
body.iframed .refreshtree a:link, body.iframed .refreshtree a:visited, body.iframed .refreshtree a:hover, body.iframed .refreshtree a:active {background:none}

.upone {position:absolute;top:48px;right:21px}

/* =LAYOUT-FOOTER */
#footer {background:#ffffff url(images/footer_bg.gif) repeat-x;vertical-align:bottom;border-top:2px solid #4371AE;}
#footer p {margin:0;text-align:right;font-size: 86%;color:#2E4F7A;padding:2px 20px 2px 2px;}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {color:#2E4F7A;}
#footer a:hover, #footer a:active {background:#97ACCD none repeat scroll 0 0;}

/* =DEFINITION LISTS */
dl {margin: 0 0 1.5em}
dt {clear:left;font-weight:bold;margin:3px 0}
dd {margin:3px 0;padding:0}
dd.thumbnail {float:left;width:100px;margin-right:6px;border: 1px solid #000;margin-bottom:0}
dd.thumbnail img {display:block}

dl.dl-style1 {border-top: 1px solid #fff;font-size:86%}
	.tab-panes dl.dl-style1 {margin-right:140px}
dl.dl-style1 dt {float:left;clear:left;width:130px;margin:0;_height:1.5em;min-height:1.5em;border:none}
	.tab-panes dl.dl-style1 dt {width:28%}
dl.dl-style1 dd {width: auto;margin: 0px 0px 0px 130px;border-bottom: 1px solid #fff;padding: 1px 0;_height:1.5em;min-height:1.5em}
	.tab-panes dl.dl-style1 dd {margin-left:28%;_margin-left:20%}
	
dl.dl-style2 {font-size:86%;margin-top:10px}
dl.dl-style2 dt {float:left;clear:left;width:70px;margin:0}
dl.dl-style2 dd {margin:0;padding: 1px 0}

/* =WIZARDS */
.wizard-nav {float:right;width:110px}
.wizard-nav a {display:block;width:100px;border: 1px solid #ccc;font-size:86%;margin: 0 0 3px}
.wizard-nav a:link, .wizard-nav a:visited, .wizard-nav a:hover, .wizard-nav a:active {text-decoration:none;background-color:#fff;padding: 3px 5px}
.wizard-nav a:hover {background-color:#FFF4E9;color:#E17000;border: 1px solid #E17000}
.wizard-nav br {display:none}

.icon {margin: 0 0 10px}

body.container-management h1 {font: bold 135% arial,helvetica,sans-serif;height:auto;clear:both;_height:1em;min-height:1em}
body.container-management h1 {padding: 10px 0 14px 40px;background: transparent url("images/container_edit_2.gif") no-repeat -10px -100px}


 /* =DATA-TABLES */

	table.objectAdmin {border-collapse:collapse;border:none;background:#fff;margin: .3em 0 1.5em;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc}
	table.objectAdmin table {font-size:95%}
		table.objectAdmin caption {text-align:left;font: bold 145% arial;padding: 5px 10px;background:#fff}
		table.objectAdmin th {color: #fff;border-top: 1px solid #A5B9D0;border-right: 1px solid #A5B9D0;text-align: left;padding: 2px 2px 2px 2px;background: #9EB4CC url("images/th_bg.gif") repeat-x 0 0; vertical-align: middle; font-weight: normal; font-face: tahoma,helvetica,sans-serif;}
		table.objectAdmin th.order-asc {background-position: 100% -100px;padding-right:25px}
		table.objectAdmin th.order-desc {background-position: 100% -200px;padding-right:25px}
			table.objectAdmin th a:link, table.objectAdmin th a:visited, table.objectAdmin th a:hover, table.objectAdmin th a:active {color:#fff}
			table.objectAdmin th.alt a:link, table.objectAdmin th.alt a:visited {color:#E17000}
			table.objectAdmin th.alt a:hover, table.objectAdmin th.alt a:active {color:#fff}
			table.objectAdmin th img {display:block;float:right;margin:0}
		table.objectAdmin td {border-top: 1px solid #ccc;border-right: 1px solid #ccc;padding: 2px 10px; vertical-align: middle;}
		table.objectAdmin th select, table.objectAdmin th select option {background-color: #FFFFFF !important; color: #324e7c !important;}
		table.objectAdmin th.nobg {border:none;background:#fff}
		table.objectAdmin tr.alt {background: #f1f1f1} 
		table.objectAdmin tr.ruled {background: #c00} 
		table.objectAdmin tr {background:#fff}
		table.objectAdmin select.actionDropdown {width:90px;}
		
	table.layout, table.layout th, table.layout td {border:none;margin:0pt;padding:0pt;}
		
	table.table-2 {width:100%}
	table.table-2 th {white-space:nowrap}
	table.table-3 {width:500px}
	table.table-4 {width:500px}
		table.table-4 th.alt {background:#fff;color:#000;font-size:96%;border-top: 1px solid #ccc;border-right: 1px solid #ccc}
		table.table-4 tr.alt th.alt {background:#f1f1f1}
	table.table-5 {width:100%;border:none}
	table.table-5 td {font-size: 110%;font-weight:bold}
	table.table-5 td table, table.table-5 td table td {border:none}
	table.table-6 {width:100%;margin: 20px 0;border:none}
	table.table-6 td {font-size: 11px;font-weight:normal}
	table.table-6 th {color:#666;background:#eee;border-top: 1px solid #fff;border-right: 1px solid #fff}
	table.table-6 td table {width:100%}

		div.nowrap, 
		span.nowrap,  
		li.nowrap,  
		h3.nowrap,  
		a.nowrap, 
		.nowrap td, 
		.nowrap th, 
		td.nowrap, 
		th.nowrap {
			white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
		}
		span.nowrap {
			display:inline-block;
		}

 /* =OLD ADMIN CLASSES */
.FormTitle {font-weight:bold;font-size:135%}
table.FormTableClear {border: none}
table.dataheader td {font-weight:bold;color: #fff;border-top: 1px solid #A5B9D0;border-right: 1px solid #A5B9D0;text-align: left;padding: 3px 10px;background: #9EB4CC url("images/th_bg.gif") repeat-x 0 0;font-size: 110%}
table.BorderTable td, table.BorderTable th {border:none;padding:0} 


 /* OBJECT ADMIN CLASSES */
table.objectAdmin {}
table.objectAdmin th, table.objectAdmin td {padding:3px;}

 /* GENERAL ADMIN CLASSES */
ul.inlinedocs {list-style:none;}
ul.inlinedocs li {background-image:none; margin-bottom:20px;}


img.overviewicon {
	margin-right: 10px;
}

/* JQUERY-UI SPECIFIC MODIFICATIONS */
ul.x-tab-strip{margin:0px;}
ul.x-tab-strip li{padding:0px;}
ul.x-tab-strip li a {padding:0px;}

#webtopOverviewActions button h1,
#webtopOverviewActions button h2 {
	margin:0px;
}

#webtopOverviewActions button.primary {
	width:180px;
	height:100px;
	margin-left:0px;
	background:#CBDAEF\9;
	border:1px solid #7096AB\9;
}
#webtopOverviewActions button.secondary {
	width:180px;
	min-height:50px;
	margin-top:10px;
	margin-left:0px;
	background:#f5f5f5\9;
	border:1px solid #cccccc\9;
	border-bottom-color:#888\9;
	color:#333333\9;
}
#webtopOverviewActions button.primary:hover {
	background:#8DABD9\9;
	border-bottom-color:#0055CC\9;
}
#webtopOverviewActions button.secondary:hover {
	background:#E6E6E6\9;
	border-color:#B3B3B3\9;
	border-bottom-color:#666\9;
}
#webtopOverviewActions button.primary:active {
	background:#8DABD9\9;
	border-bottom-color:#7096AB\9;
}
#webtopOverviewActions button.secondary:active {
	background:#D9D9D9\9;
	border-color:#B3B3B3\9;
}
.webtopOverviewStatusBox {
	border:1px solid black;
	padding:10px;
	margin:0px 0px 10px 0px;
}
.webtopSummarySection {
	border-bottom:2px solid #DFDFDF;
	padding:0px 5px 15px 5px;
	margin:10px 0px 10px 0px;
}
.webtopSummarySection h2 {
	margin:10px 0px 0px 0px;
	font-weight:bold;
}

.buttonHolder .fc-btn {
  float:none;
}
.buttonHolder .fc-btn.ui-button.ui-priority-primary {
	background:#8DABD9\9;
}
.buttonHolder .fc-btn.ui-button.ui-priority-primary:hover {
	background:#CBDAEF\9;
}
.buttonHolder .fc-btn.ui-button.ui-priority-primary:active {
	border:1px solid #193759\9;
}
.buttonHolder .fc-btn.ui-button.ui-priority-secondary {
	/*
	background:#f5f5f5\9;
	border:1px solid #cccccc\9;
	border-color:#E6E6E6 #E6E6E6 #BFBFBF\9;
	border-bottom-color:#B3B3B3\9;
	color:#333333\9;
	*/
}
.buttonHolder .fc-btn.ui-button.ui-priority-secondary:hover {
	background:#E0E0E0\9;
}
.buttonHolder .fc-btn.ui-button.ui-priority-secondary:active {
	border:1px solid #222\9;
}

.approved {
	background:#00B500\9;
}
.draft {
	background:#D52D2D\9;
}

.ui-tabs .ui-tabs-nav .ui-state-default:hover a {
	background:whiteSmoke\9;
}


table.navtree td {
	font-size:11px;
	font-weight:normal;
	vertical-align:middle;
	padding:0px;
	color:#ffffff;
	line-height:normal;
}
table.navtree td.objectname {
	padding-left:5px;
}
table.navtree td.objectname a {
	cursor:pointer;
	color:#ffffff;
	text-decoration:underline;
}
			

table.object-admin-actions {
	margin:0px;
	padding:0px;
	background:transparent;
}
table.object-admin-actions tr {
	background:transparent;
}


table.object-admin-actions td a,
table.object-admin-actions td a:link,
table.object-admin-actions td a:visited,
table.object-admin-actions td a:hover,
table.object-admin-actions td a:active {
	text-decoration:none; 				
	float:left;	
	color:#000;
	padding:2px;	
	line-height:16px;
	display:block;
	text-decoration:none;
	border:1px solid transparent;
} 

table.object-admin-actions td a:hover {
	background-color:#ffffff;
	border:1px solid #B5B5B5;
} 


table.object-admin-actions td a .ui-icon {
	float:left;
	margin-right:2px;
}

.rowselected {
	background-color: #F4F8FD;
}

/* WEBTOP OVERVIEW */
#tabs-summary .developer-actions { right:0; position:absolute; padding-right:16px; }
	#tabs-summary .developer-actions a, #tabs-summary .developer-actions .objectid { padding:0; display:inline-block; vertical-align:middle; }
	#tabs-summary .developer-actions a:hover { background-color:transparent; }
	#tabs-summary .developer-actions a.ui-icon-tag { position:absolute\9; top:1px\9; right:36px\9; }
	#tabs-summary .developer-actions a.ui-icon-calculator { position:absolute\9; top:1px\9; right:16px\9; }
	#tabs-summary .developer-actions div.objectid { margin-right:40px\9; }
	.comment { margin-left: 19px; }
