table.object-admin-actions td a, table.object-admin-actions td a:active, table.object-admin-actions td a:link, table.object-admin-actions td a:visited, table.object-admin-actions td a:hover {
	width:18px;
}