* {margin:0;padding:0}
body {
	color:#000;
	font: 11px arial,tahoma,verdana,sans-serif;
	background: #5B7FB9 url("/webtop/css/images/g2_sidebar_bg.gif") no-repeat fixed;
	background-position: -14px -96px;
}
	
img {border:none}

h5 {width:200px;font-size: 13px;border-bottom: 1px solid #f1f1f1;margin-bottom:13px;padding-bottom:3px}

table {}
td {font: 11px arial,tahoma,verdana,sans-serif;vertical-align:middle;padding:0}
td td td {}


.icontext  {cursor:hand}
.menudiv {margin-top:5px;background-color:#fff;border:1px solid #E17000;position:absolute;left:0;top:0;visibility:hidden;width:120px}
.menuitem {cursor:hand;display:block;width:116px;padding: 1px 2px}
.menuitemdisabled {color:#808080;cursor:hand;font-style:italic;display:none}
.menuitemheader {background-color:#E17000;color:#fff;cursor:pointer;font-weight:bold;padding: 2px;width:116px;_width:120px}
.navajobutton {width:160px}
.nodediv {cursor:hand}
.tablenode {}
.tablenode .menu-text {display:block;cursor:hand;text-indent:2px;font-weight:bold;color:#fff;white-space:nowrap}
.tablenode .tablenode .menu-text {}
.tablenode .tablenode .tablenode .menu-text {color:#fff;font-weight:normal}
.tablenode .tablenode .tablenode .tablenode .menu-text {font-weight:normal}

.upone {position:absolute;top:0;left:182px}