.paginator-wrap {text-align:center;margin-bottom:20px;margin-top:20px;}
.paginator {font-size:12px;padding-top:10px;margin-left:auto;margin-right:auto;color:#aaa;}
.paginator a {padding:2px 6px;border:solid 1px #ddd;background:#fff;text-decoration:none;color:#aaa;}
.paginator span.p-first {margin-right:20px;padding:4px 8px;background:#fff;color:#aaa;}
.paginator a.p-first {margin-right:20px;padding:2px 6px;border:solid 1px #ddd;background:#fff;}
.paginator span.p-last {margin-left:20px;padding:4px 8px;background:#fff;color:#aaa;}
.paginator a.p-last	{margin-left:20px;padding:2px 6px;border:solid 1px #ddd;background:#fff;}
.paginator span.p-previous {margin-right:20px;padding:4px 8px;background:#fff;color:#aaa;}
.paginator a.p-previous {margin-right:20px;padding:2px 6px;border:solid 1px #ddd;background:#fff;}
.paginator span.p-next {margin-left:20px;padding:4px 8px;background:#fff;color:#aaa;}
.paginator a.p-next {margin-left:20px;padding:2px 6px;border:solid 1px #ddd;background:#fff;}
.paginator span.p-page{
	background:#FFFFFF none repeat scroll 0 0;
	color:#E17000;
	font-size:12px;
	font-weight:bold;
	padding:4px 8px;
	vertical-align:top;}	
.paginator a.p-page{padding:2px 6px;
	border-color:#ddd;
	font-weight:normal;
	font-size:12px;
	vertical-align:top;
	background:#fff;
	}
.paginator a:hover {color:#fff;background:#E17000;text-decoration:none;}
.paginator span.resultCount {margin-left: 15px;}
.paginator span.numberCount {font-weight: bold;}