#farcryTray {
	position: fixed;
	width: 100%;
	/*min-width: 832px;*/
	z-index: 100;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	line-height: 16px;
	text-align: left;
	left: 0; /* IE */
}
* html #farcryTray {  /* IE */
	_position: absolute;
	_bottom: 0;
}

#farcryTray ul, #farcryTray li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
}

.farcryTrayBottom {
	bottom: 0;
}
.farcryTrayTop {
	top: 0;
}

#farcryTray.farcryTrayHidden {
	width: 120px;
}

.farcryTrayHidden .farcryTrayBody,
.farcryTrayHidden .farcryTrayTitle,
.farcryTrayHidden .farcryTrayOptions,
.farcryTrayHidden .farcryTrayContextMenu,
.farcryTrayHidden .farcryTrayButtons
{
	display: none;
}

.farcryTrayContainer {
	position: relative;
	background: white;
	-webkit-box-shadow: 0 0 8px rgba(128,128,128,0.75);
	   -moz-box-shadow: 0 0 8px rgba(128,128,128,0.75);
		    box-shadow: 0 0 8px rgba(128,128,128,0.75);
	margin: 0 20px;
	zoom: 1;
	border: 1px solid #c8c8c8\9; /* IE */
}
.farcryTrayBottom .farcryTrayContainer {
	border-bottom: none;
}
.farcryTrayTop .farcryTrayContainer {
	border-top: none;
}

.farcryTrayContainer:hover {
	-webkit-box-shadow: 0 0 9px rgba(64,64,64,0.75);
	   -moz-box-shadow: 0 0 9px rgba(64,64,64,0.75);
		    box-shadow: 0 0 9px rgba(64,64,64,0.75);
}

.farcryTrayTitlebar {
	position: relative;
	height: 30px;
	z-index: 101;
	-webkit-box-shadow: 0 0 12px rgba(192,192,192,0.25);
	   -moz-box-shadow: 0 0 12px rgba(192,192,192,0.25);
	        box-shadow: 0 0 12px rgba(192,192,192,0.25);
	cursor: pointer;
}

.farcryTrayLogo {
	float: left;
	margin-right: 24px;
	height: 30px;
}
.farcryTrayLogo img {
	margin: 6px 0 0 11px;
}

.farcryTrayTop.farcryTrayMinimised .farcryTrayLogo {
	background: url(tray/tray-arrows.png) no-repeat 2px -6px;
}
.farcryTrayTop.farcryTrayExpanded .farcryTrayLogo {
	background: url(tray/tray-arrows.png) no-repeat 2px 22px;
}
.farcryTrayBottom.farcryTrayMinimised .farcryTrayLogo {
	background: url(tray/tray-arrows.png) no-repeat 2px 22px;
}
.farcryTrayBottom.farcryTrayExpanded .farcryTrayLogo {
	background: url(tray/tray-arrows.png) no-repeat 2px -6px;
}

.farcryTrayTitle {
	float: left;
	line-height: 30px;
	
}

.farcryTrayTitle .farcryTrayStatusLink {
	padding: 3px 3px 4px 3px;
	margin: 3px 0 0 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 16px;
	text-decoration: none;
	color: #555;
	font-size: 11px;
	background: #f0f0f0;
}

.farcryTrayTitle .farcryTrayStatusLink:hover {
	text-decoration: underline;
	color: black;
	background: #f0f0f0;
}


.farcryTraySeparator {
	color: #ccc;
	padding: 0 5px;
}

.farcryTrayOptions {
	position: relative;
	z-index: 100;
	float: right;
	height: 30px;
	line-height: 30px;
	background: white url(tray/cog.png) no-repeat 6px 7px;
	width: 30px;
	margin-left: 5px;
	border-left: 1px solid white;
}
.farcryTrayOptions:hover {
	text-decoration: underline;
}
.farcryTrayContextMenuVisible .farcryTrayOptions {
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	right: -1px;
	margin-left: 4px;
}
.farcryTrayBottom.farcryTrayContextMenuVisible .farcryTrayOptions {
	top: -1px;
	padding-top: 1px;
	background-position: 6px 8px;
	height: 29px;
}
.farcryTrayTop.farcryTrayContextMenuVisible .farcryTrayOptions {
	margin-top: 1px;
	background-position: 6px 6px;
	line-height: 29px;
}

.farcryTrayContextMenu {
	position: absolute;
	display: none;
	right: -1px;
	cursor: default;
}
.farcryTrayContextMenuVisible .farcryTrayContextMenu {
	display: block;
}
.farcryTrayBottom .farcryTrayContextMenu {
	bottom: 30px;
}
.farcryTrayTop .farcryTrayContextMenu {
	top: 30px;
}

.farcryTrayContextMenuBody {
	padding: 5px 3px;
	line-height: 16px;
	border: 1px solid #c8c8c8;
	background: white;
}
.farcryTrayBottom .farcryTrayContextMenuBody {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.farcryTrayTop .farcryTrayContextMenuBody {
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#farcryTray .farcryTrayContextMenuBody li  {
	padding: 1px 2px;
}
#farcryTray .farcryTrayContextMenuBody li.farcryTrayContextMenuSeparator {
	padding: 0;
	margin: 4px 2px;
	border-bottom: 1px solid #f0f0f0;
	font-size: 0px;
}

#farcryTray .farcryTrayContextMenuBody a {
	display: block;
	padding-right: 16px;
	padding: 3px 16px 4px 3px;	
	color: #000000;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	line-height: 16px;
}
#farcryTray .farcryTrayContextMenuBody a:hover {
	text-decoration: underline;
	background: #f0f0f0;	
	cursor: pointer;
}


#farcryTray .farcryTrayContextMenuBody li a span {
	float: left;
	margin-right: 3px;
}

#farcryTray .farcryTrayContextMenuBody a.farcryTrayMenuSelected {
	padding: 2px 15px 3px 2px;	
	border: 1px solid #b7d1e3;
	background: #eff5f9;
}


.farcryTrayButtons {
	float: right;
	height: 30px;
	line-height: 30px;
}

#farcryTray .farcryTrayButtons a {
	display: block;
	float: left;
	padding: 3px 7px 4px 3px;
	margin: 4px 0 0 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 16px;
	text-decoration: none;
	color: black;
}
#farcryTray .farcryTrayButtons a:hover {
	text-decoration: underline;
	background: #f0f0f0;
}
.farcryTrayButtons a span {
	float: left;
	margin-right: 3px;
}
#farcryTray .farcryTrayButtons a.farcryTrayButtonSelected {
	padding: 2px 6px 3px 2px;
	border: 1px solid #b7d1e3;
	background: #eff5f9;
}
#farcryTray .farcryTrayButtons a.farcryTrayButtonDisabled {
	padding: 2px 6px 3px 2px;
	border: 1px solid #aaaaaa;
	background: #ffffff;
	-webkit-opacity: 0.25;
	-moz-opacity: 0.25;
	opacity: 0.25;
}
#farcryTray .farcryTrayButtons a.farcryTrayButtonDisabled:hover{
	text-decoration: none;
}
.farcryTrayBody {
	position: relative;
	z-index: 100;
	zoom: 1;
	border-top: 1px solid #f0f0f0\9; /* IE */
}
.farcryTrayMinimised .farcryTrayBody {
	display: none;
}

.farcryTrayBodyMenu {
	float: left;
}
#farcryTray .farcryTrayBodyMenu ul {
	float: left;
	padding: 2px;
	height: 100%;
	margin-bottom: 4px;
}
#farcryTray .farcryTrayBodyMenu li {
	
}

#farcryTray .farcryTrayBodyMenu a {
	display: block;
	padding: 3px 7px 4px 3px;
	margin: 4px 0 0 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 16px;
	text-decoration: none;
	color: black;	
	font-size: 13px;
	line-height: 16px;	
}
#farcryTray .farcryTrayBodyMenu a:hover {
	text-decoration: underline;
	background: #f0f0f0;
}
.farcryTrayBodyMenu a span {
	float: left;
	margin-right: 3px;
}

.farcryTrayPageSpeed {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
#farcryTray .farcryTrayPageSpeed a:hover {
	text-decoration: none;
	background: none;	
}

.farcryTrayBodyContent {
	margin-left: 115px;
}

.farcryTrayBodyContentDetails {
	padding: 6px 0;
}
.farcryTrayBodyContentDetails th {
	padding: 4px 10px 4px 0;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
}
.farcryTrayBodyContentDetails td {
	padding: 4px;
	font-size: 13px;
}
.farcryTrayBodyContentDetails table {
	clear: none;
}

.farcryTrayBodyContentDetails img {
	border: none;
}

.farcryTrayClear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	height: 0;
}

.farcryTrayContainer .ui-icon-none {
	background-position: -1000px -1000px;
}
