/* Tray layout */
body{
	margin:0;
	padding:0 0 0 0;
}

/* Tray style */
#farcrytray .moredetail_icon { background:transparent url(../js/ext/resources/images/default/panel/tool-sprites.gif) no-repeat scroll 0 -210px; height:15px; width:15px; }
#farcrytray .lessdetail_icon { background:transparent url(../js/ext/resources/images/default/panel/tool-sprites.gif) no-repeat scroll 0 -195px; height:15px; width:15px; }
#farcrytray .edit_icon { background-image:url(../facade/icon.cfm?icon=edit&size=16) !important; }
#farcrytray .designmode_icon { background-image:url(../facade/icon.cfm?icon=designmode&size=16) !important; }
#farcrytray .designmodedisabled_icon { background-image:url(../facade/icon.cfm?icon=designmodedisabled&size=16) !important; }
#farcrytray .previewmode_icon { background-image:url(../facade/icon.cfm?icon=draftmode&size=16) !important; }
#farcrytray .previewmodedisabled_icon { background-image:url(../facade/icon.cfm?icon=draftmodedisabled&size=16) !important; }
#farcrytray .updateapp_icon { background-image:url(../facade/icon.cfm?icon=updateapp&size=16) !important; }
#farcrytray .logout_icon { background-image:url(../facade/icon.cfm?icon=logout&size=16) !important; }
#farcrytray .toggletray_icon { background-image:url(../facade/icon.cfm?icon=toggletray&size=16) !important; }

/*#farcrytray.previewmodeon { border-top: 1px solid #A291AB; }*/
#farcrytray.previewmodeoff, 
#farcrytray.previewmodeon { border-top: 1px solid #0F7BD5; }
/*#farcrytray.previewmodeon .htmlpanel .x-panel-body, #farcrytray.previewmodeon .x-toolbar, #farcrytray.previewmodeon .x-table-layout-ct { background:#DAC3E6 none; border:0 none; }*/
#farcrytray.previewmodeoff .htmlpanel .x-panel-body, #farcrytray.previewmodeoff .x-toolbar, #farcrytray.previewmodeoff .x-table-layout-ct,
#farcrytray.previewmodeon .htmlpanel .x-panel-body, #farcrytray.previewmodeon .x-toolbar, #farcrytray.previewmodeon .x-table-layout-ct { background:#D7E4F3 none; border:0 none; }

.htmlpanel td { background:transparent; padding:0; }

#farcrytray .traytypeicon { vertical-align:middle; }
#farcrytray .htmlpanel .x-panel-body { padding-left:5px; }
#farcrytray .separator { padding-left:5px; padding-right:5px; }
#farcrytray a, #farcrytray a:hover, #farcrytray a:active, #farcrytray a:visited { color: blue; font-weight:bold; }
#farcrytray a, #farcrytray a:active, #farcrytray a:visited { text-decoration:none; }
#farcrytray a:hover { text-decoration:underline; }
#farcrytray a.webtoplink:hover { text-decoration:none; }
#farcrytray img { border: 0 none; }
#farcrytray * { color: #333; font-family: arial,tahoma,helvetica,sans-serif; text-align: left; font-size:13px; }
#farcrytray .x-toolbar { padding:0; }
#farcrytray .traytext { padding:3px; }

/* General styels */
#farcrytray .status.approved { font-weight: bold; color:#00bb00; }
#farcrytray .status.pending { font-weight: bold; color:#ff9900; }
#farcrytray .status.draft { font-weight: bold; color:#ff0000; }

/* Detail view styles */
#farcrytray .detailview dt { margin-top: 2px; float:left; clear: left; width:120px; }
#farcrytray .detailview .typename { font-size:113%; font-weight:bold; }
#farcrytray .detailview .label { font-weight:bold; }
#farcrytray .detailview .value {}