body {text-align:left;}
	
/* =DEFINITION LISTS */
dl {margin: 0 0 1.5em}
dt {clear:left;font-weight:bold;margin:3px 0}
dd {margin:3px 0;padding:0}
dd.thumbnail {float:left;width:100px;margin-right:6px;border: 1px solid #000;margin-bottom:0}
dd.thumbnail img {display:block}

dl.dl-style1 {border-top: 1px solid #fff;font-size:86%}
.tab-panes dl.dl-style1 {margin-right:140px}
dl.dl-style1 dt {float:left;clear:left;width:130px;margin:0;_height:1.5em;min-height:1.5em;border:none;}
.tab-panes dl.dl-style1 dt {width:28%}
dl.dl-style1 dd {width: auto;margin: 0;border-bottom: 1px solid #fff;padding: 1px 0;_height:1.5em;min-height:1.5em}
.tab-panes dl.dl-style1 dd {margin-left:28%;_margin-left:20%}

.tab-content {padding:25px;}

.icon {margin: 0 0 10px}

.webtopOverviewActions .farcryButtonWrap-outer {margin:5px 0px;}
.webtopOverviewActions .farcryButton {width:240px;}

h1 { font-size: 187%; font-weight: bold; padding: 10px;}
