/* forms CSS to go here */

label { float: left; width: 100px; }
.fmradio { width: 25px; float: none; display: inline; }

input { width: 150px; }
form .control {  }

input:focus, select:focus, textarea:focus { background:navy; color:white; }
fieldset { padding: 5px; margin: 5px;  }
fieldset fieldset { color: ##333;}
legend { font-weight: bold;  }
