/* 
-------------------------------------------------------------------
version:	18-01-06
author:		pete ottery | daemon | pottery at daemon dot com dot au 
			please speak to pete before making changes to this file 
-------------------------------------------------------------------
*/

/* styles for the selected tab, add more tab ids if theres more than 6 tabs */
#tab1, 
#tab2,
#tab3, 
#tab4
{background:url("images/nav_left_both.gif") no-repeat 0 -300px;border-top: 1px solid #D6D6D6;border-bottom: none}

/* styles for the de-selected tabs, add more tab ids if theres more than 6 tabs */
#tab1.tab-disabled, 
#tab2.tab-disabled, 
#tab3.tab-disabled , 
#tab4.tab-disabled  
{background:url("images/nav_left_both.gif") no-repeat 0 -450px;border-top: none;border-bottom: 1px solid #fff}

#tab1 a, 
#tab2 a, 
#tab3 a, 
#tab4 a 
{background: #F1F1F1 url("images/nav_right_both.gif") no-repeat 100% -300px;color:#fff;text-decoration:none;font-weight:bold;font-size:90%}

#tab1.tab-disabled a, 
#tab2.tab-disabled a, 
#tab3.tab-disabled a,
#tab4.tab-disabled a  
{background: #FFF url("images/nav_right_both.gif") no-repeat 100% -450px;color:#AEAEAE}

#tab1.tab-disabled a:hover, 
#tab2.tab-disabled a:hover, 
#tab3.tab-disabled a:hover, 
#tab4.tab-disabled a:hover 
{color:#000}

/* tab list styles */
.tab-container ul.tabs {list-style:none;margin:0;padding:0;height:1.95em}
.tab-container ul.tabs li {float:left;width:auto;padding: 0;margin: 0 3px 0 0}
.tab-container ul.tabs a {display:block;padding:4px 20px 4px 16px;margin: 0 0 0 5px;text-transform:uppercase}

.tab-panes hr {clear:both;width:20%;visibility:hidden;margin:0}

/* apply padding to tab pane content */
/* tab-panes had a position:relative, removed due to problems in ie6 */
.tab-panes {clear:left;padding: 20px 20px 0;border: 1px solid #E17000;}
.tab-panes li {font-size:86%}
.tab-container {margin: 0 0 15px}


.tabs2, .tabs2 li {background: none;margin:0;padding:0;display:inline;font-size:96%}
.tabs2 li#tab1, .tabs2 li#tab2 {border-right: 1px solid #ccc}

.tab-container .tabs2 #tab1 a:link, .tab-container .tabs2 #tab1 a:visited,  .tab-container .tabs2 #tab1 a:hover, .tab-container .tabs2 #tab1 a:active,  
.tab-container .tabs2 #tab2 a:link, .tab-container .tabs2 #tab2 a:visited, .tab-container .tabs2 #tab2 a:hover, .tab-container .tabs2 #tab2 a:active, 
.tab-container .tabs2 #tab3 a:link, .tab-container .tabs2 #tab3 a:visited, .tab-container .tabs2 #tab3 a:hover, .tab-container .tabs2 #tab3 a:active {color:#E17000;text-decoration:underline;background:none;border-bottom:none;font-weight:normal;padding: 2px 6px 5px 6px}

.tab-container .tabs2 #tab1 a:active, 
.tab-container .tabs2 #tab2 a:active,  
.tab-container .tabs2 #tab3 a:active {color:#000;background: #f1f1f1;text-decoration:none}

.tabs2 #tab1, .tabs2 #tab2, .tabs2 #tab3 {background:none}
.tabs2 #tab1.tab-disabled, .tabs2 #tab2.tab-disabled, .tabs2 #tab2.tab-disabled {}

/* styles for the de-selected tabs, add more tab ids if theres more than 6 tabs */
.tabs2 #tab1.tab-disabled, 
.tabs2 #tab2.tab-disabled, 
.tabs2 #tab3.tab-disabled  
{background:none;border-top: none;border-bottom: none}

.tab-panes-linkslist {clear:left;padding: 0;background: #f1f1f1;border:none}
.tab-panes-linkslist label {display:inline}
.tab-panes-linkslist hr {visibility:hidden}
.tab-panes-linkslist #pane1, .tab-panes-linkslist #pane2, .tab-panes-linkslist #pane3 {padding: 10px 10px 0}